h1 {
    font-size: 188%;
    font-weight: normal;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #a2a9b1;
}

body {
    background-color: #f6f6f6;
    overflow-y: scroll;
    margin: 0;
    display: block;
}

html,
body {
    font-family: sans-serif;
    height: 100%;
    margin: 0.5em 0;
    padding-left: 5%;
}

p {
    font-size: calc(1em * 0.875);
    width: 80%;
    line-height: 1.6;
}
div {
  /* right panel */
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin:-32% 1% 5% 5%;
    padding: 0em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
    width: 20em;
    line-height: 1.5em;
  }
  table {
    border: none;
    width: 40%;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: left;
    border-collapse: separate;
    text-indent: initial;
    font-size: calc(1em * 0.875);
    line-height: 1.6;
  }
  th {
    background-color: #b0c4de;
    line-height: 1.5em;
    text-align: center;
    width: 50%;
    display: table-cell;
    font-weight: bold;;
  }
  td {
        text-align: left;
        width: max-content;
        display: table-cell;;
  }
  .image2 {
    border: 0;
    width: 220px;
    height: 314px;
    cursor: pointer;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 5px;
  }
  .image1 {
    border: 0;
    width: 220px;
    height: 314px;
    cursor: pointer;
    text-align: center;
    margin: auto;
    display: block;
  }
  /* Styling the main table of contents */
 .main-toc {
background-color: whitesmoke;
position: absolute;
height: fit-content;
width: fit-content;
left: 90px;
top: 1235px;

 }
.main-toc.li {
    margin-bottom: 0.1em;
    display: list-item;
    text-align: left;

}
.a {
  padding-left: 35px;
  font-size: 82%;
}

 